<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link th:href="@{/css/auth.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">

    <th:block th:include="header:: header" ></th:block>

    <form method="POST" class="form-signin" th:object="${registerDto}" th:action="@{/auth/register}">
        <h2 class="form-signin-heading">Create your account</h2>
        <div class="form-group">
            <input type="text" th:field="*{username}" class="form-control" placeholder="Username"
                   autofocus="true">
        </div>

        <div class="form-group">
            <input type="text" th:field="*{email}" class="form-control" placeholder="Email">
        </div>

        <div class="form-group">
            <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <h4 class="text-center" style="padding-top: 10px"><a th:href="@{/auth/login}">Login</a></h4>
    </form>

</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>