<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>
<div th:fragment="header">
    <div style="margin-top: 30px; text-align: center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <span class="app_title" style="font-size: 35px">&nbsp;Instaclone</span>
            </div>
        </div>
        <div sec:authorize="isFullyAuthenticated()" class="row" style="text-align: center; padding-top: 15px">
            <div class="col-md-6 offset-md-3">
                <form id="logoutForm" method="POST" th:action="@{/logout}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
                <div>
                    <span style="font-size: 25px" sec:authentication="name"></span>
                    <span style="display: inline-block; padding-left: 30px">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="document.forms['logoutForm'].submit()" style="font-size: 16px; padding: 4px">Logout</button>
                    </span>
                    <span sec:authorize="hasAuthority('ADMIN')" style="display: inline-block; padding-left: 30px">
                        <a th:href="@{/admin/dashboard}"><button class="btn btn-sm btn-primary btn-block">Admin Dashboard</button></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>